{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended",
    "plugin:jsx-control-statements/recommended",
    "airbnb",
    "airbnb/hooks",
    "prettier"
  ],
  "parserOptions":{
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "import"
  ],

  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}],
    "react/no-array-index-key": "off",
    "import/prefer-default-export": "off",
    "import/no-default-export": "off"
  }
}